@model OrderModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <h2>Order Confirmation</h2>
    @Model.address.State
    @Model.card.Number
    @Model.sandwich.sandwichname
</body>
</html>
