@model List<Topping>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSandwich</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <select>
            @foreach(Topping t in Model.Where(x => x.category == 3))
            {
                <option value="@t.Id">@t.name</option>
            }
        </select>
    }
</body>
</html>
