@model List<Topping>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSandwich</title>
</head>
<body>
    <div>
        @{
            using (Html.BeginForm())
            {
                Html.DropDownListFor(m => Model, new SelectList(Model));
            }
        }
    </div>
</body>
</html>
