
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Styles/Main.css" type="text/css"/>
</head>
<body>
    <header>
        <h1 class="welcome">
            Sandwich Swap
        </h1>
    </header>
    <nav>
        <a>Link 1</a>
        <a>Link 2</a>
        <a>Link 3</a>
        <a>Link 4</a>
    </nav>
    <section class="all">
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
        <h1>
            Sandwich Swap, the social sandwich site!
        </h1>
    </section>
</body>
</html>
