@using SandwichSwap.ViewModels
@model IndexViewModel
@section Head{
    <link rel="stylesheet" href="~/Styles/home.css" />
    <title>Home</title>
}
@section top{
    <div class="transp">
        <h1 class="welcome">
            Sandwich Swap
        </h1>
    </div>
}
<h1>
    Sandwich Swap, the social sandwich site!
</h1>
@if (Model.user != null)
{
    <h3>Hello, @Model.user.username!</h3>
}
else
{
    <h3>Hello, Guest!</h3>
}
<p>
    Welcome to the customize your own sandwich and follow those with similar sandwich ideas. It is the instagram of sandwiches show what the sandwich is and allow others to follow the design and use it on there own favorite menu if they like it. Let your sandwich imagination expand with having more and more with sandwich fillers.
</p>
<p>
    Sandwiches are not only our profession but as sandwich connoisseurs it is our passion. You can make any type of sandwich on any type of bread that the you want. There is no limit creating the sandwich you want either by meats, vegetables and sauces any one can make its so that there are many options for everyone. 
</p>
