@using SandwichSwap.ViewModels
@model LoginViewModel
@section Head{
    <link rel="stylesheet" href="~/Styles/login.css" />
    <title>Log In</title>
}
@section top{
    <div class="transp">
        <h1 class="welcome">
            Log In
        </h1>
    </div>
}
<section class="Login">
    @Html.ActionLink("Register", "Register", "Home", null, new { @class = "navlink"})
    <div class="logon">
        <p>Please log in or register to enjoy the full experience of Sandwich Swap!</p>

        @using (Html.BeginForm())
        {
            <strong>Username:</strong>@Html.TextBoxFor(m => m.Username, new { @class = "textBox" })<br />
            <strong>Password:</strong>@Html.TextBoxFor(m => m.Password, new { @class = "textBox" })<br />
            <input type="submit" value="Login" />

        }
    </div>

</section>
