@section Head{
    <link rel="stylesheet" href="~/Styles/Order.css" />
    <title>Menu</title>
}
@section top{
    <div class="transp">
        <h1 class="welcome">
            Menu
        </h1>
    </div>
}

<div>
    Shtuff
</div>