@model string
@section Head{
    <link rel="stylesheet" href="~/Styles/order.css" />
    <title>Register</title>
}
@section top{
    <div class="transp">
        <h1 class="welcome">
            Register
        </h1>
    </div>
}

<p>This is the register view</p>