@model Sandwich
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MenuDisplayPartial</title>
</head>
<body>
    <div id="MenuName"> 
        @Model.sandwichname
    </div>
    <div id="MenuUser">
       <strong>Created by:</strong> @Model.username
    </div>
    <div id="MenuDescript">
        <strong>Toppings:</strong>
        @foreach(Topping t in Model.Toppings)
        {
            t.ToString();<br/>
        }
    </div>
</body>
</html>
