@model Sandwich
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_OrderInfoPartial</title>
</head>
<body>
    <div>
            <strong>Address</strong><br />
            <strong>Street</strong><input type="text" /><br />
            <strong>City</strong><input type="text" /><br />
            <strong>State</strong><input type="text" /><br />
            <strong>Zip</strong><input type="text" /><br /><br />
            <strong>Credit Card</strong><br />
            <strong>Card type</strong>
            <select>
                <option>Visa</option>
                <option>Mastercard</option>
                <option>American Express</option>
                <option>Discover</option>
                <option>Captial one</option>
                <option>Other</option>
            </select><br />
            <strong>Card Number</strong><input type="text" /><br />
            <strong>Experation Date</strong><input type="text" /><br />
            <strong>CSV</strong><input type="tel" /><br />
            <strong>Name on Card</strong><input type="text" /><br />
            <input type="submit" />
    </div>
</body>
</html>
