@using SandwichSwap.ViewModels
@model MenuViewModel

<section id="toppingTable">
    @for (int i = 0; i < Model.Rows; i++)
    {
        <select class="toppingList">
            @foreach (Topping t in Model.Toppings)
            {
                <option value=@t.Id>@t.name</option>
            }
        </select><br />
    }
    </section>

<input type="button" id="addRow" value="Add Row" />
